body {
  background-color: darkslategray;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.logout{
  width: 10%;
    background: none;
    border: 2px solid #4caf50;
    color: #fff;
    padding: 5px;
    font-size: 18px;
    cursor: pointer;
    margin: 12px 20px;
}

.login{
  margin-left: 35%;
  position: absolute;
}

.login-form{
  margin-left: 25%;
  padding-top: 70px;
}
.textbox2{
  width: 100%;
  overflow: hidden;
  font-size: 20px;
  padding: 8px 0;
  margin: 8px 0;
  border-bottom: 1px solid #4caf50;
}

.btn2{
  width: 100%;
  background: none;
  border: 2px solid #4caf50;
  color: black;
  padding: 5px;
  font-size: 18px;
  cursor: pointer;
  margin: 12px 0;
}

.textbox2 input{
  border: none;
  outline: none;
  background: none;
  color: #fff;
  font-size: 18px;
  width: 80%;
  float: left;
  margin: 0 10px;
}

.login-all{
  width: 330px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}


.register{
  margin-left: 35%;
  position: absolute;
}

.register-form{
  margin-left: 25%;
  padding-top: 70px;
}
.textbox{
  width: 100%;
  overflow: hidden;
  font-size: 20px;
  padding: 8px 0;
  margin: 8px 0;
  border-bottom: 1px solid #4caf50;
}

.btn{
  width: 100%;
  background: none;
  border: 2px solid #4caf50;
  color: black;
  padding: 5px;
  font-size: 18px;
  cursor: pointer;
  margin: 12px 0;
}

.textbox input{
  border: none;
  outline: none;
  background: none;
  color: #fff;
  font-size: 18px;
  width: 80%;
  float: left;
  margin: 0 10px;
}

.register-all{
  width: 330px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.name-head{

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
